<!DOCTYPE html>
<html>
<head>
  <title>FMEA</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag  'https://fonts.googleapis.com/css?family=Raleway:400,600|Bitter:400,700|Cutive+Mono', media: 'all' %>


  <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>



</head>
<body>

  <% if user_signed_in? %>
<h4>Signed in as: <%= @user.firstname %> <%= @user.lastname %></h4>


<div class="edge">

    <% if !signed_in? && controller_name != 'registrations'%>

      <div class="edge-left">
        Don't have an account?
        <%= link_to "Sign up", new_user_registration_path %>
      </div>

      <% end %>

        <% if !user_signed_in? && controller_name != 'sessions' %>
        <div class="edge-right">
          Already signed up?
          <%= link_to "Log in", new_user_session_path %>
        </div>
        <% end %>



          <% if user_signed_in? %>

            <span class="edge-left">




              <%= current_user.firstname %>
                <%= current_user.lastname %>

                      <%= link_to "Edit profile", edit_user_path(current_user) %>

            </span>

            <span class="edge-right">

              <%= link_to "Log out", destroy_user_session_path, method: :DELETE %>
            </span>
            <% end %>
  </div>

<% end %>

<div class="main-container">
  <div class="main basic-style">
    <%= yield %>


  </div>


</div>



</body>
</html>
